.fade-mask {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 500px;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

#iframe-wrapper {
    text-align: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: max-height 0.8s ease, opacity 0.8s ease, transform 0.8s ease;
}

#iframe-wrapper.expanded {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}